* {
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}

body {
    font-family: "Sora", sans-serif;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
/* Google Font */

/* Header */
.header_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 16px;
}

.login-button {
    display: inline-block;
    color: green;
    border: 1px solid green;
    padding: 10px 40px;
    border-radius: 12px;
    text-decoration: none;
}

.register-button {
    display: inline-block;
    color: white;
    background-color: green;
    padding: 10px 40px;
    border-radius: 12px;
    text-decoration: none;
}

.nav-items li a {
    text-decoration: none;
    color:black;
}
/* Header */

/* Hero */
.hero-area {
    text-align: center;
    padding-top: 100px;
    background-image: linear-gradient(to bottom, #ff000000, #ebebeb);
}

.hero-title {
    font-size: 54px;
    margin-bottom: 20px;
}

.hero-title span {
    color: green;
}

.hero-paragraph {
    font-size: 18px;
    margin-bottom: 16px;
}
/* Hero */